.book-desk-page {
    width: 60%;
    margin: 20px auto;
}

.book-desk-page>h2 {
    text-align: center;
}

.book-desk-page>.date-floor-container{
    margin-top: 40px;
    text-align: center;
    border: solid skyblue 2px;

}

.book-desk-page>.date-floor-container>h3{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.book-desk-page>.date-floor-container>form{
    width: 80%;
    margin: 10px auto;
}
