.covid-survey>h3{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
}

.covid-survey-container{
    font-family: 'Roboto', sans-serif;
}


.covid-survey-container>.covid-survey-title{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 1.3em;
}

.covid-survey-container>.ant-checkbox-group{
    margin-left: 2rem;
    width: 100%;
}

.covid-survey-container>.ant-checkbox-group>label{
    display: flex;
    font-size: 1.3em;
    margin-bottom: 10px;
}

.covid-survey-container>.ant-checkbox-group>label>.ant-checkbox{
    width: 10%;
}

.covid-survey-container>.survey-questions{
    display: flex;
}

