.bookings-page {
    width: 60%;
    margin: 20px auto;
}

.bookings-page>h2 {
    text-align: center;
}

.bookings-page>table{
    width:100%;
	border:1px solid #EEEEEE;
    margin-top: 40px;
    text-align: center;
}


.bookings-page>.paging{
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.bookings-page>.pagination{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
